@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root{
  min-height: 100vh;
} */

body > #root > div {
  height: 100vh;
}

body{
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
